<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Airports</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-airport-modal">
            Add new airport
        </button>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="airports-table" class="table table-striped table-bordered table-hover"
                                id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Airport city</th>
                                        <th>Airport name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>BEKA</td>
                                        <td>BEKA</td>
                                        <td>BEKA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-airport-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form role="form" id="add-airport-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add new airport</h4>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="form-group">
                            <label>Airport Name</label>
                            <input class="form-control" type="text" name="airport_name" required>
                            <p class="help-block">Name of the airport.</p>
                        </div>
                        <div class="form-group">
                            <label>Airport city</label>
                            <input name="zipcode" type="number" class="form-control" required>
                            <p class="help-block">City of the airport.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#add-airport-form").validate({
        submitHandler: function (form, event) {
            event.preventDefault();
            console.log(JSONIZE_form($(form)));
            addAirport(JSONIZE_form($(form)));
        }
    });


    function addAirport(airport) {
        $.ajax({
            url: "api/admin/airports",
            type: "POST",
            data: airport,
            beforeSend: function (xhr) { xhr.setRequestHeader('Authentication', localStorage.getItem("token")); },
            success: function (data) {
                toastr.success("Airport added!");
                getCities();
                $('#add-airport-form').trigger("reset");
                $('#add-airport-modal').modal("hide");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                toastr.error("Error occured! Try again!");
            }
        });
    }

    getCities();

    function getCities() {

        $.ajax({
            url: "api/user/airports",
            type: "GET",
            beforeSend: function (xhr) { xhr.setRequestHeader('Authentication', localStorage.getItem("token")); },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '<tr class="odd gradeX">'
                        + '<td>' + data[i].airportid + '</td>'
                        + '<td>' + data[i].airport_city + '</td>'
                        + '<td>' + data[i].airport_name + '</td></tr>';
                }
                $('#airports-table tbody').html(html);
                $('#airports-table').DataTable();
            }
        });
    };
</script>