<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Airports</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-airport-modal">
            Add new airport
        </button>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="airports-table" class="table table-striped table-bordered table-hover"
                                id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Airport city</th>
                                        <th>Airport name</th>
                                        <th>DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>BEKA</td>
                                        <td>BEKA</td>
                                        <td>BEKA</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-airport-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form role="form" id="add-airport-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add new airport</h4>
                </div>
                <div class="modal-body">
                    <div class="container">

                        <div class="form-group">
                            <label>Airport Name</label>
                            <input id='airName' class="form-control" type="text" name="airport_name" required>
                            <p class="help-block">Name of the airport.</p>
                        </div>
                        <div class="form-group">
                            <label>Airport city</label>
                            <input id='airCity' name="zipcode" type="text" class="form-control" required>
                            <p class="help-block">City of the airport.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-default" data-dismiss="modal" onclick="addAirport();">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#add-airport-form").validate({
        submitHandler: function (form, event) {
            event.preventDefault();
            console.log(utilities.JSONIZE_form($(form)));
            addAirport(utilities.JSONIZE_form($(form)));
        }
    });


    function addAirport() {
        /*RestClient.post("api/admin/airports", airport, function (data) {
            toastr.success("Airport added!");
            getAirports();
            $('#add-airport-form').trigger("reset");
            $('#add-airport-modal').modal("hide");
        });*/

        var airport_info = {
            'airport_name' : $('#airName').val(),
            'airport_city' : $('#airCity').val()
        }
        $.post("api/airports", airport_info).done(function(data){
            console.log(data);
            window.location.reload();
            toastr.error('Succesfully added airport!');
        }).fail(function(error){
          
          toastr.error('Failed to add airport!');
        });
    
    }

    getAirports();

    function getAirports() {

        $.ajax({
            url: "api/user/airports",
            type: "GET",
            beforeSend: function (xhr) { xhr.setRequestHeader('Authentication', localStorage.getItem("token")); },
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '<tr class="odd gradeX">'
                        + '<td>' + data[i].airportid + '</td>'
                        + '<td>' + data[i].airport_city + '</td>'
                        + '<td>' + data[i].airport_name + '</td>'
                        + '<td><button type="submit" class="btn btn-danger" onclick="DeleteAirport('+data[i].airportid+');">DELETE</button></td></tr>';
                }
                $('#airports-table tbody').html(html);
                $('#airports-table').DataTable();
            }
        });
    };
    

    function DeleteAirport(id){
        $.ajax({
      url: 'api/admin/airports/'+id,
      type: 'DELETE',
      beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
      success: function(data){
        window.location.reload();
        toastr.error('Succesfully deleted an article!');
       
      },
      error: function(jqXHR, textStatus, errorThrown ){
            window.location.reload();
         }

    });
  }
    
</script>